* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgba(184, 168, 168, 0.733);
  color: rgb(155, 127, 127);
  text-align: center;
  padding: 2rem;
  margin-top: 2rem;
}
body {
  background-color: black;
  color: white;
}
.imagem-destaque {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(8, 8, 8, 0.2);
}
.titulo-destaque{
  color:rgb(0, 162, 255)
} 
